div.myfooter {
    height: 9%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: red;
    font-size: 150%;
    left: 0;
}

.rise-enabled .cm-editor {
    font-size: 2rem;
}

.rise-enabled .jp-OutputArea pre {
    font-size: 2rem;
}
