/* this goes with my global default setting
 * that has rise use reveal's theme sky
 */
/*.reveal {
    font-family: "Quicksand", sans-serif;
}*/

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: initial;   /* sky.css says uppercase */
    letter-spacing: initial ;  /* sky.css says -0.08em */
}

body.rise-enabled .reveal ol, body.rise-enabled .reveal dl, body.rise-enabled .reveal ul {
    margin-left: 0.1em;
    margin-top: 0.2em;
}

.reveal .rendered_html h1:first-child,
.reveal .rendered_html h2:first-child,
.reveal .rendered_html h3:first-child,
.reveal .rendered_html h4:first-child,
.reveal .rendered_html h5:first-child {
    margin-top: 0.2em;
}

h1.plan, h2.plan, h3.plan {
    text-align: center;
    padding-bottom: 30px;
}

ul.plan>li>span.plan-bold {
    font-size: 110%;
    padding: 4px;
    font-weight: bold;
    background-color: #eee;
}

ul.plan>li>ul.subplan>li>span.plan-bold {
    font-weight: bold;
}

.plan-strike {
    opacity: 0.4;
/*    text-decoration: line-through; */
}

div.plan-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* something big and obvious again just to outline
   that this file is actually loaded */

div.cell.code_cell.rendered, div.input_area {
    border-width: 10px;
}

/* this is only to check that rise.css properly gets
 * ignored when quitting reveal mode */
div.text_cell_render.rendered_html {
    color: #5050b0;
}

/*
 * this is to void xarray's html output to show the fallback textual representation
 * see also
   * xarray.md and 
   * https://github.com/damianavila/RISE/issues/594
 */
.reveal pre.xr-text-repr-fallback {
    display: none;
}

div.myfooter {
    height: 9%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: red;
    font-size: 150%;
    left: 0;
}

.rise-enabled .cm-editor {
    font-size: 2rem;
}

.rise-enabled .jp-OutputArea pre {
    font-size: 2rem;
}
